In [4]:
import pandas as pd

a = [1,2,3,2,3]
b = [2,3,4,5,6]
map = {

    'a' : a, 
    'b' : b
}
df = pd.DataFrame(map)
df.head()

   a  b
0  1  2
1  2  3
2  3  4
3  2  5
4  3  6

In [7]:
df.groupby(df.a)['b'].max()

a
1    2
2    5
3    6
Name: b, dtype: int64

In [8]:
df = pd.read_csv('./mental_health_dataset.csv')
df.head()

,Context,Response
0,I have trouble trusting people because of past...,"Overwhelm can be exhausting, and it's understa..."
1,"I've been experiencing mood swings, and I don'...",Lack of sleep can have a big impact on your we...
2,I constantly feel overwhelmed with work and re...,It sounds like you’re being really hard on you...
3,"I've been feeling really down, and I don’t kno...",Lack of sleep can have a big impact on your we...
4,"I feel stuck in life, like I'm not making any ...","Overwhelm can be exhausting, and it's understa..."

In [ ]:
'Greater than 10' if len(df.iloc[0].Context.split(' ')) > 10 else 'Less than 10'

'Less than 10'

In [ ]:

def row_with_min_words(x, threshold):
    return True if len(x.split(' ')) > threshold else False

#df.drop(columns=['is_valid'])
df['context_is_valid']= df['Context'].map(lambda x : row_with_min_words(x, 5))
df['response_is_valid']= df['Response'].map(lambda x : row_with_min_words(x, 50))

In [50]:
print(df['context_is_valid'].value_counts())
df['response_is_valid'].value_counts()

context_is_valid
True    3000
Name: count, dtype: int64

response_is_valid
True    3000
Name: count, dtype: int64

In [54]:
df['Response'].str.contains(r'\d+', regex=True).value_counts()

Response
False    3000
Name: count, dtype: int64